# Server Configuration
SERVER_PORT=your_server_port
FRONTEND_URL=your_frontend_url

# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/your_database_name
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password
DATABASE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# Redis Configuration (Redis Cloud free tier: https://redis.com/try-free)
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_PASSWORD=your_redis_password

# Security Configuration (JWT)
JWT_SECRET_KEY=your_jwt_secret_key
ACCESS_TOKEN_EXPIRATION=jwt_access_token_expiration_time
REFRESH_TOKEN_EXPIRATION=jwt_refresh_token_expiration_time

# Default Admin
ADMIN_EMAIL=your_default_admin_email
ADMIN_PASSWORD=your_default_admin_password

# Cloudinary
CLOUDINARY_URL=your_cloudinary_url

# Google OAuth2
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret

# Stripe Configuration
STRIPE_API_KEY=your_stripe_api_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# Mail Configuration
MAIL_HOST=your_mail_host
MAIL_PORT=your_mail_port
MAIL_USERNAME=your_mail_username
MAIL_PASSWORD=your_mail_password
