# Server Configuration
SERVER_PORT=your_server_port

# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/your_database_name
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password
DATABASE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# Redis Configuration
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port

# Security Configuration (JWT)
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=jwt_expiration_time

# Default Admin
ADMIN_EMAIL=your_default_admin_email
ADMIN_PASSWORD=your_default_admin_password

# Cloudinary
CLOUDINARY_URL=your_cloudinary_url

# Google OAuth2
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret

# Stripe Configuration
STRIPE_API_KEY=your_stripe_api_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret